@import '../../assets/fonts/pretendard-std.css';

@font-face {
  font-family: 'Orbitron';
  src: url('../../assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Share Tech Mono';
  src: url('../../assets/fonts/ShareTechMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@use "./variables" as *;
@use "./modals" as *;

:root {
  --card-bg: rgba(10, 20, 28, 0.8);
  --glass-border: rgba(0, 240, 255, 0.2);
  --neon-forest: #2e8b57;
  --deep-dark: #050a0e;
}